body{ 
    background-color: white;
    margin: 0px;
    overflow: hidden;
}

#info {
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    background-color: black;
    border: 1px solid white;
    padding: 0.5rem;
    font-family: monospace;
    z-index: 1; 
}

#score-row, #distance-row {
    display: flex;
}

#score, #distance {
    margin-left: 0.5rem;
}

.separador{
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 0.5rem 0;
}

#info #titulo {
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

#info #health {
    height: 12px;
    margin: 8px 0;
    width: 100%;
}

#info #health:focus {
    outline: none;
}
  
/* Mozilla Firefox browser */
#info #health::-moz-range-track {
    width: 100%;
    height: 12px;
    background: #333333;
}

#info #health::-moz-range-thumb {
    opacity: 0;
}

#info #health::-moz-range-progress {
    height: 12px;
    background: green;
}

/* Cosas del inicio */
#intro-panel,
#end-panel {
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    font-family: monospace;
    z-index: 10;
}

#end-panel {
    display: none;
}

#intro-column,
#end-colum {
    justify-content: center; 
}
  
#intro-titulo,
#end-titulo {
    font-size: 8rem;
    margin-bottom: 3rem;
}

#start,
#restart {
    margin:0 auto;
    display:block;
    text-align:center; 

    font-size: 2rem;
    background-color: black;
    color: white;
    font-family: monospace;
    border: 1px solid white;
    padding: 0.5rem;
    margin-top: 3rem;
    cursor: pointer;
    
}

#start:hover,
#restart:hover {
    background-color: #302b5e;
}

#start:active,
#restart:active {
    background-color: #0f0a49;
}

#end-score-row, #end-distance-row {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

#end-score, #end-distance {
    margin-left: 0.5rem;
}